
@{
    ViewData["Title"] = "Haqqımızda";
}




<main>
    <section id="first-about">
        <div class="container">
            <div class="row my-5">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="text-about">
                        <h1>Azərbaycan Respublikası</h1>
                        <h3>
                            Əmək və Əhalinin Sosial Müdafiəsi Nazirliyinin tabeliyində Sosial Xidmətlər Agentliyinin
                            sifarişi ilə hazırlanan “Unudulmazlar” saytı və mobil tətbiqi ölkəmizin ərazi bütövlüyünün
                            təmin olunması uğrunda döyüşlərdə şəhidlik zirvəsinə ucalmış qəhrəmanlarımız, mülki şəhidlərimiz,
                            Vətən Müharibəsi ilə əlaqədar əlilliyi müəyyən olunmuş şəxslər haqqında ətraflı məlumat əldə etməyə
                            imkan yaradan, onların cəmiyyətə daha yaxından tanıdılmasına xidmət edən layihədir.
                        </h3>

                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <img src="~/img/img-about/first.jpg" alt="">
                </div>
            </div>
        </div>
    </section>

    <section id="second-about">
        <div class="container">
            <div class="row my-5">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <img src="~/img/img-about/sayt_marafon.jpg" style="width: 100%; height: 90%;" alt="">
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 my-5">
                    <div class="text-about">
                        <h1>Missiyamız</h1>
                        <h3>www.unudulmazlar.az saytı, İOS və Android sistemlərindən yükləyə biləcəyiniz “Unudulmazlar” mobil tətbiqi</h3>
                        <p>
                            Vətən Müharibəsi şəhidləri və əlilləri haqqında ən dolğun informasiya resursudur. Layihədə qəhrəmanlarımızın
                            həyat və döyüş yolunu özündə əks etdirən foto və videolar, Vətən Müharibəsi şəhidlərinin və əlillərinin həyatı,
                            döyüş yolu, təltifləri və ailə üzvləri haqqında əhatəli məlumatlar təqdim olunur. Saytda şəhidlər və
                            Vətən Müharibəsi əlillərinin ad, soyad, ata adı, doğulduğu, döyüşdüyü və şəhid olduğu rayonlar, həmçinin tarixlər
                            üzrə axtarış sistemi mövcuddur. Dinamik axtarış sistemi sayəsində sayt və tətbiqdən Vətən müharibəsi iştirakçıları
                            haqqında istənilən məlumatı əldə etmək çox çevik və asandır. Xronologiya bölməsində 44 günlük Vətən müharibəsinin
                            hər gününü özündə əks etdirən məlumatlar, eyni zamanda Azərbaycan Respublikasının Prezidenti, Müzəffər Ali Baş Komandan
                            İlham Əliyevin müharibə ərəfəsində yazdığı tvitlər yerləşdirilib.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="third-about">
        <div class="container">
            <div class="row my-5">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="text-about">
                        <h1>“Unudulmazlar” layihəsi</h1>
                        <h3>
                            Vətən Müharibəsi şəhidləri və əlilləri barəsində ən dəqiq və etibarlı mənbə olmaqla yanaşı, həm ölkə daxilində,
                            həm də xaricdə qəhrəmanlarımızın tanıdılmasına xidmət edəcəkdir.
                        </h3>

                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <img src="~/img/img-about/unudulmazlar-sayti-ve-mobil-tetbiqinin-teqdimati-oldu5586.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
</main>


@section Scripts {
    <link rel="stylesheet" href="~/css/about-us/about.css">
}

