* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
}


.form {
  //display: flex;
  position: relative;
  max-width: 80%;
  padding: 10rem 0;
  color:#033D50;
  background-color: #033D50;
  border-radius: 1rem;
  box-shadow: 0 1px 1rem rgba(0, 0, 0, .1);
  isolation: isolate;
}

.form::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10rem;
  background: linear-gradient(to left, #029d6c,
          #8a0b0b);
  border-radius: 1rem 1rem 100% 100%;
  z-index: -1;
}

.form__title {
  color: rgb(245, 232, 232);
  position: absolute;
  top: 3.5rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.5rem;
}

.form>form {
  padding: 2.5rem;
  background-color: inherit;
}

.form__input {
  position: relative;
  display: flex;
  align-items: baseline;
  margin: 0 auto;
}

.form__input>i {
  font-size: 2rem;
  margin-right: 1rem;
  color: #d50909;
}

.form__input input {
  position: relative;
  width: 100%;
  font: inherit;
  padding: 1rem 30px;
  margin-top: .5rem;
  border: none;
  outline: none;
}

.form__input .bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .1);
  width: 100%;
  height: 1px;
}

.form__input .bar::before {
  content: "";
  position: absolute;
  background-color: #e00000;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .5s;
}

.form__input>input:focus+.bar::before {
  transform: scaleX(1);
}

.form__button {
  display: block;
  margin: 2.5rem auto 3rem;
  padding: 1rem 5rem;
  background: linear-gradient(to left, #dd0404,
          #037eb4);
  color: #fff;
  font: inherit;
  border: .5rem solid #fff;
  outline: none;
  cursor: pointer;
  border-radius: 3rem;
}

.form__button:hover {
  background: linear-gradient(to right, #ee0505,
          #160394);
}

.form__switch {
  display: block;
  text-align: center;
  font-size: 1.5rem;
  color: #a1a1a1;
}

.form__switch a {
  text-decoration: none;
  color: #f20404;
}

.form__switch a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 43.75em) {
  .form::before {
      height: 30rem;
  }

  .form__title {
      left: 10rem;
      transform: none;
  }

  .form>form {
      transform: translateX(10rem);
      border-radius: inherit;
      box-shadow: inherit;
  }
}



.button-64 {
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}

.button-64:active,
.button-64:hover {
    outline: 0;
}

.button-64 a {
    text-decoration: none;
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

.button-64:hover a {
    background: linear-gradient(to right, #ee0505, #160394);
    color: white;
}

@media (min-width: 768px) {
    .button-64 {
        font-size: 24px;
        min-width: 196px;
    }
}

