<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/home/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
    @RenderSection("Scripts", required: false)
</head>

<body>

    <header>
        <section id="black-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 d-flex">
                        <div class="welcome">
                            <p>Saytımıza xoş gəlmisiniz !</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="icons">
                            <div>
                                @if (User.Identity.IsAuthenticated)
                                {

                                    <a asp-controller="basket" asp-action="index">
                                        <i class="fa-solid fa-cart-shopping"><sup> @await Component.InvokeAsync("Header")</sup></i>
                                    </a>
                                }
                                else
                                {
                                    <a asp-controller="account" asp-action="login">
                                        <i class="fa-solid fa-cart-shopping"><sup>0</sup></i>
                                    </a>
                                }
                            </div>

                            <div class="dropdown">

                                <a class="my-btn btn btn-secondary" href="#" role="button" id="dropdownMenuLink"
                                   data-bs-toggle="dropdown" aria-expanded="false">

                                    <i class="fa-solid fa-user"></i>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <li>
                                            <div class="prof-drop">
                                                <i class="fa-solid fa-right-from-bracket"></i><a class="dropdown-item"
                                                                                             asp-controller="Account" asp-action="logout">Çıxış</a>
                                            </div>
                                        </li>
                                        
                                    }
                                    else
                                    {
                                        <li>
                                            <div class="prof-drop">
                                                <i class="fa-solid fa-gear"></i><a class="dropdown-item"
                                                                               asp-controller="Account" asp-action="Login">Giriş</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="prof-drop">
                                                <i class="fa-solid fa-user-plus"></i><a class="dropdown-item"
                                                                                    asp-controller="Account" asp-action="Register">Qeydiyyat</a>
                                            </div>
                                        </li>
                                    }


                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="center-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-2">
                        <div class="head">
                            <a asp-controller="Home" asp-action="Index">

                                <img src="~/img/Participant_of_the_Patriotic_War_medal.png" style="width: 60px;" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-10">
                        <div class="input">
                            <input type="text" id="search-inp" placeholder="Ad daxil edin...">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                        <ul id="search-list" class="d-block">
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section id="navbar-area">
            <nav class="navbar navbar-expand-lg navbar-dark  black-nav navbar-desktop">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                            aria-controls="offcanvasNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
                         aria-labelledby="offcanvasNavbarLabel">
                        <div class="offcanvas-header">
                            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                                    aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <ul class="btn">
                                <li>
                                    <a class="nav-a dropdown-btnn" asp-controller="Home" asp-action="Index">ƏSAS SƏHİFƏ</a>

                                </li>

                                <li>
                                    <a class="nav-a dropdown-btnn" asp-controller="Unudulmazlar" asp-action="Index">UNUDULMAZLAR</a>
                                    <ul class="submenu shop">
                                        <li><a asp-controller="Unudulmazlar" asp-action="Index">ŞƏHİDLƏR</a></li>
                                        <li><a asp-controller="Account" asp-action="Login">GİRİŞ</a></li>
                                        <li><a asp-controller="Account" asp-action="Register">QEYDİYYAT</a></li>
                                    </ul>
                                </li>
                                <li><a class="nav-a" asp-controller="Product" asp-action="Index">MAĞAZA</a></li>
                                <li><a class="nav-a" asp-controller="Blog" asp-action="Index">BLOGLAR</a></li>
                                <li> <a class="nav-a" asp-controller="About" asp-action="Index">HAQQIMIZDA</a> </li>
                                <li><a class="nav-a" asp-controller="Contact" asp-action="Index">BİZİMLƏ ƏLAQƏ</a></li>
                                <li class="admin"><a class="nav-a" asp-area="AdminArea" asp-controller="Dashboard" asp-action="Index">ADMIN PANEL</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </section>

        <section id="scroll-section">
            <nav class="navbar navbar-expand-lg navbar-dark  black-nav navbar-desktop">
                <div class="container inActive">
                    <div class="head">
                        <a asp-controller="Home" asp-action="Index">

                            <img src="~/img/Participant_of_the_Patriotic_War_medal.png" style="width: 60px;" alt="">
                        </a>
                    </div>
                    <div class="offcanvas-body scroll-body">

                        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                                aria-controls="offcanvasNavbar">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
                             aria-labelledby="offcanvasNavbarLabel">
                            <div class="offcanvas-header">
                                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                                        aria-label="Close"></button>
                            </div>

                            <ul class="btn">
                                <li>
                                    <a class="nav-a dropdown-btnn" asp-controller="Home" asp-action="Index">ƏSAS SƏHİFƏ</a>

                                </li>

                                <li>
                                    <a class="nav-a dropdown-btnn" asp-controller="Unudulmazlar" asp-action="Index">UNUDULMAZLAR</a>
                                    <ul class="submenu shop">
                                        <li><a asp-controller="Unudulmazlar" asp-action="Index">ŞƏHİDLƏR</a></li>
                                        <li><a asp-controller="Account" asp-action="Login">GİRİŞ</a></li>
                                        <li><a asp-controller="Account" asp-action="Register">QEYDİYYAT</a></li>
                                    </ul>
                                </li>
                                <li><a class="nav-a" asp-controller="Product" asp-action="Index">MAĞAZA</a></li>
                                <li><a class="nav-a" asp-controller="Blog" asp-action="Index">BLOGLAR</a></li>
                                <li> <a class="nav-a" asp-controller="About" asp-action="Index">HAQQIMIZDA</a> </li>
                                <li><a class="nav-a" asp-controller="Contact" asp-action="Index">BİZİMLƏ ƏLAQƏ</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </nav>
        </section>
    </header>

    <main>
        <div>
            @RenderBody()
        </div>
    </main>

    <footerr>

        <div id="my-footer" class="my-5">
            <footer class="text-center text-lg-start text-white">
                <div class="container p-4 pb-0">
                    <section class="">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                                <h5 class="text-uppercase">SAYT HAQQINDA</h5>

                                <p>
                                    Saytımızda Azərbaycan Respublikasının müstəqilliyi, ərazi bütövlüyü və suverenliyi uğrunda canından
                                    keçmiş qəhrəmanlarımız
                                    haqqında ətraflı məlumat əldə edə, həmçinin əlavə dəyişikliklər edə bilərsiniz. Etdiyiniz
                                    dəyişikliklər bizim tərəfimizdən
                                    baxıldıqdan sonra qısa müddət ərzində yayımlanacaqdır. Bundan əlavə saytımızda hərbi mağaza da
                                    fəaliyyət göstərir və siz
                                    rahatlıqla istənilən məhsulu sifariş edə bilərsiniz.
                                </p>
                            </div>

                            <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                                <h5 class="text-uppercase">HAQQIMIZDA</h5>

                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <a asp-asp-controller="About" asp-action="Index" class="text-white">haqqımızda</a>
                                    </li>
                                    <li>
                                        <a href="#!" class="text-white">şərtlər və qaydalar</a>
                                    </li>
                                    <li>
                                        <a href="#!" class="text-white">
                                            məxfilik siyasəti
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#!" class="text-white">FAQ</a>
                                    </li>
                                    <li>
                                        <a asp-controller="Contact" asp-action="Index" class="text-white">bizimlə əlaqə</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                                <h5 class="text-uppercase">GİRİŞ</h5>

                                <ul class="list-unstyled mb-0">
                                    @if (User.Identity.IsAuthenticated)
                                    {

                                        <li>
                                            <a asp-controller="Account" asp-action="Logout" class="text-white">profildən çıxış</a>
                                        </li>
                                        
                                    }
                                    else
                                    {
                                        <li>
                                            <a asp-controller="Account" asp-action="Login" class="text-white">daxil ol</a>
                                        </li>
                                        <li>
                                            <a asp-controller="Account" asp-action="Register" class="text-white">qeydiyyat</a>
                                        </li>
                                    }
                                    <li>
                                        <a href="#!" class="text-white">təşəkkürlər</a>
                                    </li>                                    
                                </ul>
                            </div>

                            <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                                <h5 class="text-uppercase">ƏLAQƏLİ SAYTLAR</h5>

                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <a href="https://unudulmazlar.az/az/infom/3758" class="text-white">unudulmazlar</a>
                                    </li>
                                    <li>
                                        <a href="https://mod.gov.az/" class="text-white">müdafiə nazirliyi</a>
                                    </li>
                                    <li>
                                        <a href="https://www.sosial.gov.az/" class="text-white">əəsmn</a>
                                    </li>
                                    <li>
                                        <a href="https://dost.gov.az/" class="text-white">dost xidməti</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                                <h5 class="text-uppercase">SOSIAL</h5>

                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <a href="https://www.facebook.com/cenab.akberoff" class="text-white">facebook</a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/in/orkhanakbarov052/" class="text-white">linkedin</a>
                                    </li>
                                    <li>
                                        <a href="https://www.youtube.com/shorts/Sk69jShsSE0" class="text-white">youtube</a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/cenab.akberoff/" class="text-white">google plus</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </section>
                    <hr class="mb-4" />
                    <div class="copyright">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12"></div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <span>© Bütün hüquqlar qorunur | e.o baş-leytenant Orxan Əkbərov tərəfindən yaradılmışdır.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="mb-4" />
                </div>
            </footer>
        </div>
    </footerr>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.4.30/sweetalert2.all.min.js"></script>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.10.2/dist/umd/popper.min.js"
            integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/053fc23104.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
            integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    @RenderSection("ScriptsJs", required: false)
    <script src="~/js/script.js"></script>
</body>

</html>