@model UnudulmazlarCard
@{
    ViewData["Title"] = "Detail";
}


<div class="container">


    <section class="u-align-center u-black u-clearfix u-section-1" id="carousel_6c40">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <!--product--><!--product_options_json--><!--{"source":""}--><!--/product_options_json--><!--product_item-->
            <div class="u-align-center-md u-align-center-sm u-align-center-xs u-container-style u-expanded-width u-product u-white u-product-1">
                <div class="u-container-layout u-valign-middle-lg u-valign-middle-xl u-container-layout-1">
                    <!--product_image-->
                    <div class="row">

                        <div class="col-lg-6 col-md-6 col-sm-12">
                            
                            <img class="u-section-1-img" src="~/img/Qəhrəmanlar/@Model.Image" alt="" class="u-expanded-width-xs u-image u-image-default u-product-control u-image-1"><!--/product_image-->
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="text-areaa">
                                <div class="u-container-layout u-container-layout-2">
                                    <!--product_title-->
                                    <h2 class="u-product-control u-text u-text-default u-text-1">
                                        @Model.Name @Model.Surname
                                    </h2>
                                    <h2 class="u-product-control u-text u-text-default u-text-1">
                                        @Model.Rutbe
                                    </h2>
                                    <div class="u-product-control u-product-desc u-text u-text-2">
                                        <!--product_content_content-->
                                        <p>
                                            @Model.Haqqında
                                        </p>
                                    </div>
                                    <!--/product_content-->
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section>
</div>


