
@{
    ViewData["Title"] = "Index";
}




<main>

    <section id="map-area">
        <div class="mapouter">
            <div class="gmap_canvas">
                <iframe width="2080" height="500" id="gmap_canvas"
                        src="https://maps.google.com/maps?q=Cilov&t=k&z=11&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no"
                        marginheight="0" marginwidth="0"></iframe><a href="https://fmovies-online.net">fmovies</a><br>

            </div>
        </div>
    </section>

    <section id="textes">
        <div class="container">
            <div class="row my-5">
                <div class="col-lg-6 col-md-6 col-sm-12 text-left">
                    <h1>Contact Info</h1>
                    <h5>
                        If You Have Any Problems,Suggestions And Feedback Then Please Feel Free To Contact With Us. Choose Our
                        Communication Soruces. We Will Love To Hear From You.
                    </h5>
                    <h1>Call</h1>
                    <h6><a href="">+994 51 652 32 52</a></h6>
                    <h1>Mail</h1>
                    <h6><a href="">orkhanakbar@gmail.com</a></h6>
                    <h1>Address</h1>
                    <h6>1899 Cemetery Street,MEDFORD - 1452451 New York</h6>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 text-right">
                    <img src="" alt="">
                </div>
            </div>
        </div>
    </section>

</main>


@section Scripts {
    <link rel="stylesheet" href="~/css/contact-us/contact.css">
}

