@model List<Slider>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/AdminArea/Views/Shared/_AdminLayout.cshtml";
    int counter = 0;
}


<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Basic Table</h6>
                <a asp-area="adminarea" asp-controller="slide" asp-action="create" class="btn btn-success  ">Create</a>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Image</th> 
                            <th scope="col">Delete</th>
                            <th scope="col">Update</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            counter++;
                            <tr>
                                <th scope="row">@counter</th>
                                

                                        <td><img style="width:100px;" src="~/img/Slides/@item.Image" /></td>
 
                                 
                                <td><a asp-area="adminarea" asp-controller="slide" asp-action="delete" asp-route-id="@item.Id" class="btn btn-danger  ">Delete</a></td>
                                <td><a asp-area="adminarea" asp-controller="slide" asp-action="update" asp-route-id="@item.Id" class="btn btn-warning  ">Edit</a></td>
                                <td><a asp-area="adminarea" asp-controller="slide" asp-action="detail" asp-route-id="@item.Id" class="btn btn-success  ">Detail</a></td>


                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>