@model Brand
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/AdminArea/Views/Shared/_AdminLayout.cshtml";
}

<div class="container mt-5">
    <form class="forms-sample" method="post" enctype="multipart/form-data">


        <div class="form-group col-md-3">
            <label asp-for="Photo"></label>
            <input asp-for="Photo" class="form-control">
            <span style="color: red;" asp-validation-for="Photo"></span>
        </div>

        <button type="submit" class="btn btn-success mt-4">Update</button>
    </form>


</div>

