@model AccountVM
@{
    ViewData["Title"] = "Reset Password";
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/css/account/forgot.css">
</head>

<body>
    <div class="login-dark">
        <form method="post">
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
            <div class="form-group">
                <label>Enter your new password</label><br />
                <input asp-for="Password" class="form-control" />
                <span class="text-warning text" asp-validation-for="Password"></span>
            </div>
            <div style="display:none;">
                <input asp-for="Token" class="form-control" />
                <input asp-for="AppUser.Email" class="form-control" />
            </div>
            <div class="form-group">
                <label>Confirm your new password</label><br />
                <input asp-for="ConfirmPassword" class="form-control" />
                <span class="text-warning text" asp-validation-for="ConfirmPassword"></span>
            </div>

            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Şifrəni yeniləyin</button></div><a href="#" class="forgot">Forgot your email or password?</a>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>
